@use "../../libs/mixins"
@use "../../libs/tokens"
@use "../../libs/type"

@keyframes cycle-background
  0%, 20%
    background-image: var(--image-url-1)
  
  20.01%, 40%
    background-image: var(--image-url-2)
  
  40.01%, 60%
    background-image: var(--image-url-3)
  
  60.01%, 80%
    background-image: var(--image-url-4)
  
  80.01%, 100%
    background-image: var(--image-url-5)

@keyframes cycle-fill
  0%, 20%
    fill: var(--color-1)
    background-color: var(--color-1)
  
  20.01%, 40%
    fill: var(--color-2)
    background-color: var(--color-2)
  
  40.01%, 60%
    fill: var(--color-3)
    background-color: var(--color-3)
  
  60.01%, 80%
    fill: var(--color-4)
    background-color: var(--color-4)
  
  80.01%, 100%
    fill: var(--color-5)
    background-color: var(--color-5)
  
  

.project-hero
  display: flex
  flex-direction: column
  width: 100vw
  height: 100vh
  padding-top: calc(64px + mixins.rscale(16,32))

  @include mixins.sm
    padding-top: 0
    padding-left: mixins.rscale(64,72)

  .project-hero__header
    display: flex
    flex-direction: column
    align-items: center
    padding: mixins.rscale(16,20)
    gap: mixins.rscale(16,32)
    @include type.caption
    order: 3

    @include mixins.sm
      flex-direction: row
      justify-content: space-between
      order: 0

    .project-hero__header__tag
      white-space: wrap
      color: var(--textColor)
      color: var(--textColorP3)

      @include mixins.sm
        max-width: 420px

    .project-hero__header__timing
      background: var(--textColor)
      color: var(--backgroundColor)
      background: var(--textColorP3)
      color: var(--backgroundColorP3)
      border-radius: 100px
      padding: mixins.rscale(16,24) mixins.rscale(20,32)
      width: 100%
      @include type.caption
      display: block

      @include mixins.sm
        padding: mixins.rscale(8,12) mixins.rscale(16,20)
        width: auto

  .project-hero__image
    position: relative
    padding: 0 mixins.rscale(16,32) mixins.rscale(16,32) mixins.rscale(16,32)

    @include mixins.sm
      flex: 1

    .project-hero__image__fill
      background-size: cover
      position: relative
      background-position: center center
      height: 100%
      width: 100%

  &.gestalt-hero
    height: auto

    @include mixins.sm
      height: 100vh

    .project-hero__title
      height: auto
      svg
        path
          opacity: 0
          animation: name-slide 1s tokens.$quart forwards

          $delay: 0
          @for $i from 1 through 7
            &:nth-child(#{$i})
              animation-delay: $delay + 0.08s
              $delay: $delay + 0.08s

      @include mixins.sm
        height: 15.5vw

    .project-hero__image
      height: 100vw

      @include mixins.sm
        height: auto

  &.balance-hero
    height: 90vh

    @include mixins.sm
      padding-bottom: mixins.rscale(32,54)
      height: 100vh

    .project-hero__image
      display: flex
      align-items: center
      justify-content: center
      flex: 1
    .project-hero__image__container
      position: relative
      flex: 1

      svg
        position: relative
        z-index: 1
        transition: transform 0.02s tokens.$quart

      img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        height: auto !important
        filter: drop-shadow(-60px 60px 50px rgba(0,0,0,0.5))
        transition: transform 0.02s tokens.$quart

    .in-collab-with
      text-align: center
      @include type.caption
      margin-bottom: mixins.rscale(16,32)
      color: var(--textColor)
      text-decoration: none

      @include mixins.sm
        margin-bottom: 0

        

      svg
        margin-top: mixins.rscale(8,16)

  &.aperture-hero
    padding-top: 64px
    height: 90vh

    @include mixins.sm
      padding-top: 0
      height: 100vh

    .project-hero__image
      position: relative
      padding: 0
      height: 100%

      .project-hero__image__fill
        z-index: 1

      svg
        position: absolute
        max-width: 250px
        width: 20vw
        z-index: 2
        padding: mixins.rscale(16,32)

        &.p
          right: 0
          bottom: 0

  &.slab-hero
    background-size: cover
    background-position: 20% center

    .project-hero__image
      display: flex
      flex-direction: column
      align-items: flex-end
      justify-content: space-between
      height: 100%

      .numbers
        max-width: 100px
        min-width: 50px
        width: 10vw

      .slab-title
        max-width: 700px
        min-width: 200px

  &.odd-shapes-hero
    background-size: cover
    background-position: 20% center
    background-color: tokens.$black
    animation: cycle-fill 10s infinite
    animation: cycle-background 10s infinite

    .project-hero__image
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      height: 100vh

      svg
        max-width: 800px

        path
          animation: cycle-fill 10s infinite
  
  &.motif-hero
    height: 100vh
    padding-top: 64px

    @include mixins.sm
      padding-top: 0

    .project-hero__image
      display: flex
      align-items: center
      justify-content: center
      flex: 1
      padding: 0

      .motif-grid
        display: flex
        flex-direction: row
        width: 100%
        height: 100%

        @include mixins.sm
          flex-direction: column

        &__row
          display: flex
          flex-direction: column

          @include mixins.sm
            flex-direction: row

          &--top
            width: 35%
            
            .motif-grid__item
              order: 2

              &:last-child
                order: 1

              .image-container 
                .image-wrapper
                  .image-2d,
                  .image-3d
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%) rotate(-90deg)
                    width: var(--parent-height)
                    height: var(--parent-width)
                    object-fit: cover

                    @include mixins.sm
                      transform: none
                      left: 0
                      top: 0
                      width: 100%
                      height: 100%

                    

            @include mixins.sm
              height: 50%
              width: auto

          &--bottom
            width: 65%

            @include mixins.sm
              height: 50%
              width: auto

        &__item
          position: relative
          width: 100%
          overflow: hidden
          flex-grow: 1

          .image-container
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            overflow: hidden

            .image-wrapper
              position: relative
              width: 100%
              height: 100%

              .image-2d,
              .image-3d
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                object-fit: cover
                transition: opacity 0.5s ease-in-out
                backface-visibility: hidden

              .image-2d
                opacity: 1
                z-index: 1

              .image-3d
                opacity: 0
                z-index: 2

          &:hover
            .image-2d
              opacity: 0

            .image-3d
              opacity: 1
