@use "../../libs/mixins"
@use "../../libs/tokens"
@use "../../libs/type"

// =======================================
// Main Navigation
// =======================================
nav
  // Layout & Positioning
  position: fixed
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-between
  gap: 16px
  width: 100%
  height: 64px
  padding: 0 mixins.rscale(16,32)
  z-index: 10

  // Background & Visuals
  background-color: var(--backgroundColor)
  background-color: var(--backgroundColorP3)
  backdrop-filter: blur(30px)
  -webkit-backdrop-filter: blur(30px)

  @include mixins.sm
    flex-direction: column
    position: flex
    justify-content: space-between
    height: 100vh
    width: mixins.rscale(64,72)
    padding: mixins.rscale(16,32) 0 mixins.rscale(16,24) 0
    background-color: var(--backgroundColor)
    background-color: var(--backgroundColorP3)

    &::before
      top: 0
      right: 0
      bottom: auto
      left: auto
      width: 1px
      height: 100vh

  &::before
    content: ''
    position: absolute
    bottom: 0
    left: 0
    width: 100vh
    height: 1px
    background-color: var(--textColor)
    background-color: var(--textColorP3)
    opacity: 0.2

  &.slab65,
  &.odd-shapes
    background-color: transparent
    backdrop-filter: blur(30px)
    -webkit-backdrop-filter: blur(30px)

  // =======================================
  // Logo
  // =======================================
  .logo
    // Layout & Positioning
    display: flex
    align-items: center
    order: 2
    width: mixins.rscale(36,40)
    height: mixins.rscale(36,40)
    position: absolute
    left: 50%
    margin-left: calc((mixins.rscale(36,40)/2)*-1)

    @include mixins.sm
      order: 1
      left: 0
      margin-left: 0
      position: relative

    a
      font-size: 0 // Ensures no extra height

    svg
      width: mixins.rscale(36,40)
      height: auto

      path
        fill: var(--textColor) !important
        fill: var(--textColorP3) !important

  // =======================================
  // Bottom Section
  // =======================================
  .bottom
    display: flex
    flex-direction: column
    align-items: center
    order: 3
    gap: mixins.rscale(16,24)

  // =======================================
  // Social Links
  // =======================================
  .social
    display: none

    @include mixins.sm
      display: flex !important
      flex-direction: column
      order: 3
      list-style-type: none
      gap: mixins.rscale(4,8)

    li
      transition: transform 0.6s tokens.$quart

      &:hover
        transform: scale(1.2)

      svg
        width: mixins.rscale(16,24)
        height: auto

        path
          fill: var(--textColor) !important
          fill: var(--textColorP3) !important

  // =======================================
  // Subscribe Button
  // =======================================
  .subscribe-button
    @include mixins.sm
      writing-mode: vertical-rl
      transform: rotate(180deg)
      text-orientation: mixed
      order: 4

      &.small
        width: 36px
        height: auto
        padding: 16px 0

  // =======================================
  // Navigation Button
  // =======================================
  .nav-button
    // Layout & Positioning
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: mixins.rscale(34,40)
    height: mixins.rscale(34,40)
    order: 2

    // Visuals
    background-color: var(--textColor)
    background-color: var(--textColorP3)
    border-radius: 50%
    cursor: pointer
    will-change: transform
    transition: transform 1.2s tokens.$bouncy
    -webkit-tap-highlight-color: transparent

    @include mixins.sm
      margin-top: mixins.rscale(-20,-24)
      position: absolute
      top: 50%
      margin-top: mixins.rscale(-18,-20)

    &:hover
      transform: scale(1.1)

      .nav-button__lines
        transform: scale(0.9)

    .nav-button__lines
      will-change: transform
      transition: transform 1.2s tokens.$bouncy

      span.nav-button__line
        display: block
        width: mixins.rscale(16,20)
        height: 1px
        margin-bottom: mixins.rscale(5,6)
        background-color: var(--backgroundColor)
        background-color: var(--backgroundColorP3)
        will-change: transform
        transition: transform 1.2s tokens.$bouncy

        &:last-child
          margin-bottom: 0

    &.active
      .nav-button__lines
        span.nav-button__line
          &:nth-child(1)
            transform: translateY(mixins.rscale(5,6)) rotate(45deg)
          &:nth-child(2)
            transform: scale(0)
          &:nth-child(3)
            transform: translateY(mixins.rscale(-7,-8)) rotate(-45deg)

// =======================================
// Project Drawer
// =======================================
.nav-project-drawer
  // Layout & Positioning
  position: fixed
  top: 0
  width: 100vw
  height: 240px
  padding-top: mixins.rscale(64,80)
  z-index: 9

  // Visuals & Transitions
  background-color: var(--backgroundColor)
  background-color: var(--backgroundColorP3)
  will-change: transform
  transform: translateY(-1000px)
  transition: transform 1.2s tokens.$bouncy

  @include mixins.sm
    height: 100vh
    width: 390px
    padding: 0
    padding-left: mixins.rscale(64,80)
    overflow-y: auto
    transform: translateX(-1000px)

    &.active
      transform: translateX(0)

      ul
        li
          transform: translateX(0)

    &::after
      top: 0
      right: 0
      bottom: auto !important
      left: auto !important
      width: 1px !important
      height: 100vh !important

  &.active
    transform: translateY(0) scale(1)

    ul
      li
        transform: translateY(0) scale(1)
        opacity: 1

  &::after
    content: ''
    position: absolute
    bottom: 0
    left: 0
    width: 100vw
    height: 1px
    background-color: var(--textColor)
    background-color: var(--textColorP3)
    opacity: 0.1

  ul
    display: flex
    list-style-type: none
    gap: 16px
    height: 100%
    padding: 16px
    overflow-x: auto
    opacity: 1

    @include mixins.sm
      flex-direction: column
      height: auto
      padding: 16px
      overflow-x: hidden

    li
      // Layout & Positioning
      display: flex
      aspect-ratio: 9/6
      flex-grow: 0
      flex-shrink: 0
      border-radius: mixins.rscale(20,24)
      overflow: hidden

      // Transitions & Transform
      transform: translateY(-40px) scale(0.8)
      will-change: transform, opacity
      opacity: 0
      transition: transform 1.2s tokens.$bouncy, opacity 1.2s tokens.$bouncy,
      $delay: 0

      @for $i from 1 through 10
        &:nth-child(#{$i})
          transition-delay: $delay + 0.08s
          $delay: $delay + 0.08s

      @include mixins.sm
        transform: translateX(-40px) scale(0.8)
        aspect-ratio: 1/1

      a
        display: flex
        align-items: flex-end
        position: absolute
        width: 100%
        height: 100%
        padding: 8px
        text-decoration: none

        &:hover
          .nav-project-drawer__item__image
            transform: scale(1.2)

        .nav-project-drawer__item__image
          position: absolute
          top: 0
          left: 0
          bottom: 0
          right: 0
          height: 100%
          background-size: cover
          background-position: center
          transition: transform 0.6s tokens.$quart

        .nav-project-drawer__item__title
          padding: 4px 8px
          border-radius: 40px
          z-index: 1
          @include type.caption