@use "../../libs/mixins"
@use "../../libs/tokens"
@use "../../libs/type"

form
  display: flex
  border: 1px solid var(--textColor)
  border-color: var(--textColor)
  border-color: var(--textColorP3)
  padding: 0 0 0 mixins.rscale(8,20)
  border-radius: 100px
  gap: mixins.rscale(16,24)

  input
    border: none
    outline: none
    appearance: none
    background: transparent
    color: var(--textColor)
    color: var(--textColorP3)
    @include type.caption
    flex: 1

    &::placeholder
      color: var(--textColor)
      color: var(--textColorP3)

  .button.small
    padding: mixins.rscale(8,12) mixins.rscale(12,20)
    height: auto
