@use "../../libs/mixins"
@use "../../libs/tokens"
@use "../../libs/type"

form
  display: flex
  border: 1px solid var(--textColor)
  border-color: var(--textColor)
  border-color: var(--textColorP3)
  border-radius: 100px
  width: 100%

  @include mixins.sm
    width: auto

  .row
    width: 100%
    display: block !important

    .column
      display: flex
      flex-direction: row !important
      width: 100%

      .field
        display: flex
        justify-content: center
        &:first-child
          flex: 1
        
        label
          display: none

  input
    border: none
    outline: none
    appearance: none
    background: transparent
    color: var(--textColor)
    color: var(--textColorP3)
    @include type.caption
    flex: 1
    width: 100%
    padding: 0 mixins.rscale(12, 24)

    &::placeholder
      color: var(--textColor)
      color: var(--textColorP3)

  button
    padding: mixins.rscale(12,12) mixins.rscale(12,20)
    height: auto
    display: flex
    align-items: center
    border-radius: 100px
    background: var(--textColor)
    color: var(--backgroundColor)
    cursor: pointer
    text-decoration: none
    -webkit-tap-highlight-color: transparent
    height: 40px
    padding: 0 16px
    @include type.caption
